@keyframes showMenu {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinkingArrow {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotateRight {
    50% {
        transform: rotate(90deg);
    }
}

@keyframes rotateLeft {
    50% {
        transform: rotate(-90deg);
    }
}