.site-home {
    height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('./assets/images/back-main.jpg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        filter: saturate(0.9) contrast(.7) brightness(.7) grayscale(20%);
    }
    &__title {
        width: 100%;
        text-align: center;
        font-family: $font-title, serif;
        font-size: 1.5rem;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: .4rem;
        margin-bottom: 1rem;
        position: absolute;
        top: calc(50% - 5rem);
        @mixin atSmall {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
        }
        @mixin atMedium {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    }
    &__subtitle {
        width: 100%;
        text-align: center;
        font-family: $font-title, serif;
        font-size: 1rem;
        letter-spacing: .3rem;
        color: $color-white;
        position: absolute;
        top: calc(50% + 5rem);
        @mixin atSmall {
            font-size: 1.5rem;
            position: absolute;
            top: calc(50% + 10rem);
        }
        @mixin atMedium {
            font-size: 2.5rem;
        }
    }
    &__arrow-btn {
        opacity: 0;
        @mixin arrow-btn-down;
        animation: blinkingArrow 3s ease infinite;
    }
    &__credits {
        position: absolute;
        width: 75%;
        bottom: .2rem;
        left: 0;
        color: $color-white;
        font-size: .7rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        @mixin atSmall {
            width: 55%;
            left: 1rem;
            bottom: .3rem;
        }
        @mixin atMedium {
            bottom: .5rem;
            left: 2rem;
            width: 35%;
            //transform: scale(1);
        }
    }
    &__logo {
        z-index: 10;
        position: fixed;
        width: 1.8rem;
        bottom: 1%;
        right: 1rem;
        @mixin atSmall {
            width: 2rem;
        }
        @mixin atMedium {
            width: 2.5rem;
            bottom: 0;
        }
    }
}